*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.userProfile{
    margin-top: 76%;
	display: flex;
	align-items: center;
	background-color: white;
	padding:1rem 0.8rem;
	border-radius: 16px;
	gap:0.4em;
}

.userProfile>p{
	color: black;
}

.userProfile .profileImage{
    width: 40px;
	border-radius: 50%;
	background-color: #D9D9D9;
}

.profileImage img{
	width: 100%;
	border-radius: 50%;
}

.userProfile .arrow{
    width:20px;
    display: flex;
    align-items: center;
}

.arrow img{
    width:100%;
}

.logout{
    margin-top: 76%;
	display: flex;
	align-items: center;
	padding:1rem 0.8rem;
	border-radius: 16px;
	gap:0.4em;
}