*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.statsContainer{
    margin-top: 1.2rem;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.statsContainer>div{
    min-height: 200px;
    border-radius: 12px;
    box-shadow: 0px 2px 1px grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.8em 1.2em;
}

.figure{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.progressBar{
    width: 80px;
    height: 80px;
}

